@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = null;
}

<div class="card">
    <div class="card-body">

        <div class="alert alert-success">
            <strong></strong>
        </div>

        <form action="/Admin/Department" method="post">
            <fieldset class="mb-3">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label class="col-form-label">Department:</label>

                    </div>
                    <div class="text-right">
                        <br />
                        <br />
                        <button id="button" type="submit" class="btn btn-primary">Submit </button>
                        <button type="reset" value="Reset" onclick="window.location.reload()" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <table id="default-datatable" class="table  table-bordered table-hover ">
            <thead>
                <tr>
                    <th>Sl. No</th>
                    <th>Department Name</th>
                    <th>Action</th>
                </tr>
            </thead>

        </table>
    </div>


</div>

